/* Write your CSS here */
.language-list-container {
  list-style-type: none;
  margin-right: 20px;
}
.language-btn {
  border: none;
  background-color: transparent;
  color: #1e293b;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
}
.active-language-btn {
  border: 1px solid #0284c7;
  color: #0284c7;
  border-radius: 24px;
}
